= partial "components/section_header", locals: { title: "Graduates", light: true }
.mw8.center.flex.flex-wrap.justify-center.items-start.tc

  - sortedTeams = data.teams.teams
  -   .select(&:graduate)
  -   .partition {|t| t.has_description == true }
  -   .flatten

  - sortedTeams.each do |team|
    - if team.has_description?
      .w-50.w-25-ns.mv4.hide-child.relative.pointer
        = partial 'components/plus_overlay'
        - modalId = team.name.downcase.gsub(' ', '-')

        %a.mid-gray.no-underline{ "data-target": "##{modalId}", "data-toggle": "modal", href: "#{modalId}" }
          .w-100.bg-center.contain.h6{ style: "background-image: url(/images/#{team.logo})", "data-target": "##{modalId}", "data-toggle": "modal" }
          %h4= team.name

      .modal.fade{ "aria-hidden": "true", "aria-labelledby": "#{modalId}", role: "dialog", tabindex: "-1", id: "#{modalId}" }
        .bg-white.w-100.br1.center.relative.br2.mt5.w-75-ns.mw7.pv3.ph4.ph5-ns
          %button.bn.bg-transparent.fr.f3.pointer.silver.outline-0.absolute.top-1.right-1{ "aria-hidden": "true", "data-dismiss": "modal", type: "button", style: "top: 0.3em; right: 0.1em" } ×
          %h4#project-modal-label.f5.mt2.f4-ns #{team.name}
          .modal-body
            = image_tag team.image, class: 'w-50-ns br2'
            .pa1
              - team.description.each do |paragraph|
                %p #{paragraph}
    - else
      .w-50.w-25-ns.mv4
        .w-100.bg-center.contain.h6{ style: "background-image: url(/images/#{team.logo})" }
        %a.mid-gray.no-underline
          %h4= team.name
