%section#team.section.section-center.fuseSection.section-team.fuseWriting
  .container.fuseWriting
    %h2.section-titleFuse
      %span The Team

    .portfolio-isotope

      - data.people.team.select { |person| person.fuse? && person.fuse_first_row? }.each_with_index do |person, index|
        - if index == 0
          .col-md-2.col-sm-4.col-xs-6.portfolio-item.team-member.col-md-offset-1
            = link_to person.linkedin || person.link, target: '_blank', class: 'hover-effectFuse' do
              = image_tag person.image
              %span.overlay
                - if person.linkedin
                  %i.fa.fa-linkedin-square
                - else
                  %i.fa.fa-plus
              %h4.fuseWriting= person.fuse_role
              %h5.fuseWriting= person.fuse_role
        - else
          .col-md-2.col-sm-4.col-xs-6.portfolio-item.team-member
            = link_to person.linkedin || person.link, target: '_blank', class: 'hover-effectFuse' do
              = image_tag person.image
              %span.overlay
                - if person.linkedin
                  %i.fa.fa-linkedin-square
                - else
                  %i.fa.fa-plus
              %h4.fuseWriting= person.name
              %h5.fuseWriting= person.fuse_role

    .portfolio-isotope

      - data.people.team.select { |person| person.fuse? && !person.fuse_first_row? }.each_with_index do |person, index|
        - if index == 0
          .col-md-2.col-sm-4.col-xs-6.portfolio-item.team-member.col-md-offset-1
            = link_to person.linkedin || person.link, target: '_blank', class: 'hover-effectFuse' do
              = image_tag person.image
              %span.overlay
                - if person.linkedin
                  %i.fa.fa-linkedin-square
                - else
                  %i.fa.fa-plus
              %h4.fuseWriting= person.fuse_role
              %h5.fuseWriting= person.fuse_role
        - else
          .col-md-2.col-sm-4.col-xs-6.portfolio-item.team-member
            = link_to person.linkedin || person.link, target: '_blank', class: 'hover-effectFuse' do
              = image_tag person.image
              %span.overlay
                - if person.linkedin
                  %i.fa.fa-linkedin-square
                - else
                  %i.fa.fa-plus
              %h4.fuseWriting= person.name
              %h5.fuseWriting= person.fuse_role
