%section#portfolio.section.section-portfolio
  .container
    %h2.section-title
      %span Our Work

    .portfolio-isotope.row
      - data.work.projects.each do |project|
        %article.post.col-md-3.col-sm-3.col-xs-6.portfolio-item
          .entry-thumbnail
            %a.hover-effect{ "data-target": (project.modal? ? "##{project.partial}" : ""),
                             "data-toggle": (project.modal? ? "modal" : ""),
                             href: (project.modal? ? "#" : project.link)}
              = image_tag project.image
              %span.overlay
                %i.fa.fa-plus
              %h4= project.name
              %h5= project.description

        - if project.modal?
          = partial "modals/#{project.partial}"
