%section.pa2
  .tc.center
    %h2 Our Work

    .flex.flex-wrap
      - data.work.projects.each do |project|
        %article.w-50.pa2
          .entry-thumbnail
            %a.no-underline.hover-effect{ "data-target": (project.modal? ? "##{project.partial}" : ""),
                             "data-toggle": (project.modal? ? "modal" : ""),
                             href: (project.modal? ? "#" : project.link)}
              = image_tag project.image, :class => "br3"
              %span.overlay
                %i.fa.fa-plus
              %h4= project.name
              %h5= project.description

        - if project.modal?
          = partial "modals/#{project.partial}"
