%section#team.section.section-center.section-hilite.section-team
  .container
    %h2.section-title
      %span The Team

    .row.portfolio-isotope

      - data.people.people.select(&:cast).each_with_index do |person, index|
        .portfolio-item.col-md-2.col-sm-4.col-xs-6{ class: ('col-md-offset-1' if index % 6 == 0) }
          = link_to person.linkedin, class: 'hover-effect', target: '_blank' do
            = image_tag person.image
            %span.overlay
              %i.fa.fa-linkedin-square
            %h4= person.name
            %h5= person.role
            %h6= person.description
