%section#portfolio.section
  .container.section-center.center
    %h2.section-title
      %span Nonprofit Teams

    .portfolio-isotope.row
      - data.teams.teams.each do |team|
        %article.post.col-md-3.col-sm-6.portfolio-item
          .entry-thumbnail
            %a.hover-effectFuse{"data-target" => "##{team.name.downcase.gsub(' ', '-')}", "data-toggle" => "modal"}
              = image_tag team.logo
              %span.overlay
                %i.fa.fa-plus
              %h4.fuseTeamText= team.name
              %h5.fuseTeamText= team.tagline

        .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-modal1-label", :role => "dialog", :tabindex => "-1", :id => team.name.downcase.gsub(' ', '-')}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                %h4#project-modal-label.modal-title= team.name
              .modal-body
                %article.single-project
                  .project-thumbnail
                    .item.active
                      = image_tag team.image
                  .row
                    .col-md-12
                      - team.description.each do |para|
                        %p= para
