---
title: Fuse - the technology accelerator for nonprofits
---

#page
  = partial 'layouts/fuse_nav'

  #main.site-main

    -# Hero
    %section#carousel-1.carousel.slide.section-slide
      .carousel-inner
        = image_tag 'fuseHeader.jpg', alt: 'FUSE header image'

    -# CTA
    %section.section.section-center.section-introText
      .container
        .row
          .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1.headline
            %h4
              At
              %a{href: "http://wearecast.org.uk"} CAST
              we know that technology can revolutionise how we address social problems.
              %h4
                %h4 So we developed Fuse. The world's only nonprofit technology accelerator. Fuse works with established nonprofits to build scalable, user-centred, digital services.
                %h4 Thanks to the support of Big Lottery Fund, we're expanding the reach of Fuse and are looking to recruit six nonprofit partners in 2017 and six more in 2018.
                %h4 Applications close 9am on Monday 17th October.
        .row
          %a{href: '/files/AboutFuse.pdf', target: '_blank'}
            .col-md-3.col-md-offset-2.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-3.suButtonFuse Find out more
          %a.smooth-scroll{href: 'https://docs.google.com/a/wearecast.org.uk/forms/d/1eVSwLsSRxni-GiCyqzgy62gYiZTc87BIA0HevaUUmtE/viewform?ts=57cfabbf&edit_requested=true', target: '_blank', id: 'apply'}
            .col-md-3.col-md-offset-2.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-3.suButtonFuse Apply for the 2017 cohort
        %br

    -# How it works
    %section#features.section.section-center.section-features.fuseSection
      .container
        %h2.section-titleFuse
          %span How it works
        .row.fuseWriting.col-md-offset-
          .col-md-4.col-sm-4
            .icon-wrap
              = image_tag 'digitalTeamWhite.png'
            %h4 Digital Team
            %p We wrap an expert digital team around the nonprofit staff who join the Fuse programme
          .col-md-4.col-sm-4
            .icon-wrap
              = image_tag 'testedServiceWhite.png'
            %h4 Tested Service
            %p Over a 3 month period we prototype, test and develop a digital product or service that supports the social mission of the nonprofit
          .col-md-4.col-sm-4
            .icon-wrap
              = image_tag 'roadmapWhite.png'
            %h4 Roadmap
            %p At the end of the 3 months, there's not just a tested digital product, but a roadmap for its future devleopment
        .row.col-md-offset-1.col-sm-offset-2.fuseWriting
          .col-md-5.col-sm-4
            .icon-wrap
              = image_tag 'integrationWhite.png'
            %h4 Integration
            %p Fuse avoids silos - throughout the 3 month development process, other teams from the nonprofit are integrated into the product and service development to support its growth
          .col-md-5.col-sm-4
            .icon-wrap
              = image_tag 'springboardWhite.png'
            %h4 Springboard
            %p Nonprofit staff participating in Fuse gain hands-on training in digital product development and a strong digital network. This means they're skilled and empowered to continue the work

    -# Teams
    = partial 'layouts/teams'

    -# The team
    = partial 'layouts/fuse_team'

    -# Supporters and partners
    = partial 'layouts/fuse_partners'

    -# Contact us
    = partial 'layouts/contact_us'
