---
title: Fuse - the technology accelerator for nonprofits
---

#page
  = partial 'layouts/fuse/nav'

  #main.site-main

    -# Hero
    %section#carousel-1.carousel.slide.section-slide
      .carousel-inner
        = image_tag 'fuseHeader.jpg', alt: 'FUSE header image', class: 'fuse-header'

    -# CTA
    = partial 'layouts/fuse/intro_text'

    -# How it works
    = partial 'layouts/fuse/how_it_works'

    -# Teams
    = partial 'layouts/fuse/graduates'

    -# The team
    = partial 'layouts/fuse/team'

    -# Supporters and partners
    = partial 'layouts/fuse/partners'

    -# Contact us
    = partial 'layouts/contact_us'
