#page
  = partial 'layouts/main_nav'

  #main{style: 'padding-top: 64px'}

    -# Hero
    %section.bg-blue-green
      %img.db.center.mw7.w-100{ src: '/images/cast-hero-image.jpg', alt: 'CAST driving social change with technology' }

    -# CTA
    %section.pt4.pb5
      .tc.center.mw6
        %h4.ma3.fw4 CAST is accelerating the use of technology for social impact
        %h4.ma3.fw4 We help organisations use technology to deliver their social mission and get early stage ideas to scale
        %a.mt4.db{ href: '#newsletter' }
          .bg-light-red.white.center.pa3.br2.ma2.w-75 Sign up for our Newsletter

    -# What we do
    = partial 'layouts/_what_we_do'

    -# Our work
    = partial 'layouts/our_work'

    -# Get involved
    = partial 'layouts/get_involved'

    -# Clients and supporters
    = partial 'layouts/partners'

    -# The team
    = partial 'layouts/team'

    -# Board Members
    = partial 'layouts/board'

    -# Contact us
    = partial 'layouts/contact_us'
