#page
  = partial 'layouts/main_nav'

  #main.site-main

    -# Hero
    %section#carousel-1.carousel.slide.section-slide
      .carousel-inner
        = image_tag 'headerImage.jpg', alt: 'CAST driving social change with technology'

    -# CTA
    %section.section.section-center.section-introText
      .container
        .row
          .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1.headline
            %h4 CAST is accelerating the use of technology for social impact
            %h4 We help organisations use technology to deliver their social mission and get early stage ideas to scale
        .row
          %a{href: '#newsletter', class: 'smooth-scroll'}
            .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-3.btn-newsletter.suButton Sign up for our Newsletter

    -# What we do
    %section#features.section.section-center.section-hilite.section-features
      .container
        %h2.section-title
          %span What we do
        .row
          .col-md-4.col-sm-6
            .icon-wrap= image_tag 'plantMoney.jpg'
            %h4 Funders
            %p Working with charitable funders and foundations to build stronger tech for good programmes
          .col-md-4.col-sm-6
            .icon-wrap= image_tag 'rocket.jpg'
            %h4 Ventures
            %p Supporting social technology ventures to grow and access finance and talent
          .col-md-4.col-sm-6
            .icon-wrap= image_tag 'megaphoneColor.jpg'
            %h4 Networks
            %p Bringing together great individuals and organisations to support and build the sector

    -# Our work
    = partial 'layouts/our_work'

    -# Get involved
    %section#get-involved.section.section-center.section-hilite
      .container
        %h2.section-title
          %span Get involved

        .row.section.section-features.tight
          .col-md-4.col-sm-6
            .icon-wrap.wide
              .verticle-align= image_tag 'hiring.png'
            %h4 Need inspiration or got some to share?
            %p
              Follow the #techforgood hashtag on Twitter for regular updates and inspiring stories from the global tech for good community.
            %p
              %br
              We’ve also put together a handy guide for developers to some
                = link_to 'awesome-techforgood', 'https://github.com/TechforgoodCAST/awesome-techforgood', target: '_blank', id: 'emailLink'
              organisations and projects on GitHub. Please add your contributions!



          .col-md-4.col-sm-6
            .icon-wrap
              .verticle-align= image_tag 'beehivelogo.png'
            %h4 Looking for funding?
            %p
              CAST itself isn’t a funder, but we are currently incubating a funder recommendation platform called
                = succeed '.' do
                  = link_to 'Beehive.', 'https://www.beehivegiving.org/', target: '_blank'
              Beehive uses open data to intelligently match social-impact organisations with the right funders. So you can check your eligibility and see what’s out there before you apply.
            %p
              %br
                = succeed '.' do
                  = link_to 'Visit Beehive.', 'https://www.beehivegiving.org/', target: '_blank'

          .col-md-4.col-sm-6
            .icon-wrap
              .verticle-align= image_tag 'tfgLogo.png'
            %h4 Join the Tech for Good community
            %br
            %p
              There are currently regular Tech for Good Meetups in
              = succeed ',' do
                = link_to 'London', 'http://www.meetup.com/techforgood/', target: '_blank', id: 'emailLink'
              = succeed ',' do
                = link_to 'Manchester', 'http://www.meetup.com/Tech-for-Good-Manchester/', target: '_blank', id: 'emailLink'
              = succeed ',' do
                = link_to 'Sheffield', 'http://shefftech4good.org/', target: '_blank', id: 'emailLink'
              and
              = link_to 'Cambridge', 'http://www.meetup.com/Cambridge-Tech-For-Good-Meetup/', target: '_blank', id: 'emailLink'
              plus
              = link_to 'NetSquared', 'http://netsquared.org/', target: '_blank', id: 'emailLink'
              events country-wide.
            %p
              %a#emailLink{:href => "mailto:hello@wearecast.org.uk"} Drop us a line at hello[at]wearecast.org.uk
              if you'd like some tips on hosting your own community event.

    -# Clients and supporters
    = partial 'layouts/partners'

    -# The team
    = partial 'layouts/team'

    -# Contact us
    = partial 'layouts/contact_us'
