#page
  = partial 'layouts/cast/nav'

  #main{style: 'padding-top: 64px'}

    -# Hero
    %section.bg-blue-green
      %img.db.center.mw7.w-100{ src: '/images/cast-hero-image.jpg', alt: 'CAST driving social change with technology' }

    -# CTA
    %section.pt4.pb5
      .tc.center.mw6
        %h2.ma3.fw4 CAST is accelerating the use of technology for social impact
        .flex.flex-column.flex-row-ns.justify-between.items-center.ph3.ph0-ns
          %a.db.w-50-ns.w-100{ href: '#newsletter' }
            .bg-light-red.white.pa3.br2.ma2 Sign up for our Newsletter
          %a.db.w-50-ns.w-100{href: 'https://docs.google.com/forms/d/e/1FAIpQLScMWA-TDysEDjbCcTvVOgguGYeK8N_GELsQhwbkLiis2qDK-g/viewform'}
            .bg-light-red.white.pa3.br2.ma2 Looking for support?

    -# What we do
    = partial 'layouts/cast/what_we_do'

    -# Our work
    = partial 'layouts/cast/our_work'

    -# Get involved
    = partial 'layouts/cast/get_involved'

    -# Clients and supporters
    = partial 'layouts/cast/partners'

    -# The team
    = partial 'layouts/cast/team'

    -# Board Members
    = partial 'layouts/cast/board'

    -# Contact us
    = partial 'layouts/contact_us'
