#page
  = partial 'layouts/main_nav'

  #main.site-main

    -# Hero
    %section#carousel-1.carousel.slide.section-slide
      .carousel-inner
        = image_tag 'headerImage.jpg', alt: 'CAST driving social change with technology'

    -# CTA
    %section.section.section-center.section-introText
      .container
        .row
          .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1.headline
            %h4 CAST is accelerating the use of technology for social impact
            %h4 We help organisations use technology to deliver their social mission and get early stage ideas to scale
        .row
          %a{href: '#newsletter', class: 'smooth-scroll'}
            .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-3.btn-newsletter.suButton Sign up for our Newsletter

    -# What we do
    %section#features.section.section-center.section-hilite.section-features
      .container
        %h2.section-title
          %span What we do
        .row
          .col-md-4.col-sm-6
            .icon-wrap= image_tag 'plantMoney.jpg'
            %h4 Funders
            %p Working with charitable funders and foundations to build stronger tech for good programmes
          .col-md-4.col-sm-6
            .icon-wrap= image_tag 'rocket.jpg'
            %h4 Ventures
            %p Supporting social technology ventures to grow and access finance and talent
          .col-md-4.col-sm-6
            .icon-wrap= image_tag 'megaphoneColor.jpg'
            %h4 Networks
            %p Bringing together great individuals and organisations to support and build the sector

    -# Our work
    = partial 'layouts/our_work'

    -# Get involved
    %section#get-involved.section.section-center.section-hilite
      .container
        %h2.section-title
          %span Get involved

        .row.section.section-features.tight
          .col-md-4.col-sm-6
            .icon-wrap.wide
              .verticle-align= image_tag 'fuseLogo.png'
            %h4 Current opportunities - Fuse 2017
            %p With support from Big Lottery Fund, we’re expanding our Fuse product accelerator. Fuse works with nonprofits to build scaleable, user-centred, digital services that fuse together the reach, ambition and reputation of established social-impact organisations with the lean, agile and test-driven processes of tech startups.
            %p
              = link_to 'Click here for more info.', '/fuse', id: 'emailLink'

          .col-md-4.col-sm-6
            .icon-wrap
              .verticle-align= image_tag 'hiring.png'
            %h4 We're hiring!
            %p
              %strong= link_to 'Full Stack Developer (x2), CAST', '/files/FullStackDeveloper.pdf', id: 'emailLink', target: '_blank'
              %br We’re looking for two developers to join our team and work with nonprofits to build tech that solves some of the world's toughest social challenges.
            %p
              %strong= link_to 'Data and Research Lead, Beehive', 'http://www.beehivegiving.org/files/Data&ResearchLead.pdf?utm_source=CAST&utm_medium=Link&utm_campaign=Hiring', target: '_blank', id: 'emailLink'
              %br
                = succeed ',' do
                  = link_to 'Beehive', 'http://www.beehivegiving.org?utm_source=CAST&utm_medium=Link&utm_campaign=Hiring', target: '_blank'
                one of the tech for good ventures we incubate, is seeking a self-directed individual to lead their research about charitable funding.

          .col-md-4.col-sm-6
            .icon-wrap
              .verticle-align= image_tag 'tfgLogo.png'
            %h4 Join the Tech for Good community
            %p
              There are currently regular Tech for Good Meetups in
              = succeed ',' do
                = link_to 'London', 'http://www.meetup.com/techforgood/', target: '_blank', id: 'emailLink'
              = succeed ',' do
                = link_to 'Manchester', 'http://www.meetup.com/Tech-for-Good-Manchester/', target: '_blank', id: 'emailLink'
              = succeed ',' do
                = link_to 'Sheffield', 'http://shefftech4good.org/', target: '_blank', id: 'emailLink'
              and
              = link_to 'Cambridge', 'http://www.meetup.com/Cambridge-Tech-For-Good-Meetup/', target: '_blank', id: 'emailLink'
              plus
              = link_to 'NetSquared', 'http://netsquared.org/', target: '_blank', id: 'emailLink'
              events country-wide.
            %p
              %a#emailLink{:href => "mailto:hello@wearecast.org.uk"} Drop us a line at
              hello[at]wearecast.org.uk if you'd like some tips on hosting your own community event.

    -# The team
    = partial 'layouts/team'

    -# Our blog
    %section#blog.section.section-blog.section-hilite
      .container
        %h2.section-title
          %span Our Blog
        .row
          .col-md-6.col-md-offset-3
            %article.hentry.post
              .row
                .entry-thumbnail.col-lg-4.col-md-5.col-sm-4
                  = image_tag 'medium.png'
                .col-lg-8.col-md-8.col-sm-6
                  %header.entry-header
                    %h2.entry-title Follow our latest thoughts on our Medium blog
                  .entry-content
                    %p We share our latest ideas, projects and learning openly on Medium.
                    %a.more{:href => "https://medium.com/@wearecast", :target => "_blank"}
                      %span.btn.btn-primary Find out more

    -# Clients and supporters
    = partial 'layouts/partners'

    -# Contact us
    = partial 'layouts/contact_us'
