= partial 'layouts/cast/modal_shell', locals: { id: "fellowship", img: img, title: title } do
  %p To transform the charity sector and enable it to put digital at the heart of its work, we need to support senior charity leaders and CEOs to understand the potential of digital.
  %p Our Digital Fellowship is a carefully constructed learning programme that teaches its fellows the key aspects of the digital development, from paper prototyping to business modelling. We bring the leaders together to learn from industry experts as well as spending time with key organisations leading the field.
  %p The pilot was funded by Comic Relief in 2016, and culminated in a design sprint with development teams from Founders & Coders for the Fellows to put what they'd learned into practice.
  %p For more information on our Digital Fellowship and
    = link_to "to apply for next year's programme", 'https://docs.google.com/forms/d/e/1FAIpQLScMWA-TDysEDjbCcTvVOgguGYeK8N_GELsQhwbkLiis2qDK-g/viewform', target: '_blank', id: 'emailLink', class: "dark-red"
    :

  %ul.pl0.f6
    %li.pv2
      Download
      = link_to "'About'", '/files/IntroToDigitalFellowship.pdf', target: '_blank', id: 'emailLink', class: "dark-red"
      document
    %li.pv2
      Read about the course structure in the
      = link_to "Programme review", 'https://medium.com/@wearecast/creating-digitally-confident-leaders-in-the-social-sector-9d3fd0f7b3ff#.xiw5ax1nh', target: '_blank', id: 'emailLink', class: "dark-red"
      and our
      = link_to "Day 1", 'https://medium.com/@wearecast/diving-into-the-digital-fellowship-part-1-411119ad5039#.djtjjs969', target: '_blank', id: 'emailLink', class: "dark-red"
      and
      = link_to "Day 2", 'https://medium.com/@wearecast/diving-into-the-digital-fellowship-part-2-cbffa5dda601#.2zgqjbec3', target: '_blank', id: 'emailLink', class: "dark-red"
      blogs
    %li.pv2
      Check out these Fellowship guest blogs
      = link_to "from Alex Feis Bryce, CEO at Ugly Mugs", 'http://www.charitytimes.com/ct/blog-using-tech-to-improve-services-in-a-small-charity.php', target: '_blank', id: 'emailLink', class: "dark-red"
      and
      =- link_to "Duncan McLaggan, Operations Manager at QSA", 'http://www.charitydigitalnews.co.uk/2017/02/15/building-digital-products-in-a-small-to-medium-sized-charity-guest-post/', target: '_blank', id: 'emailLink', class: "dark-red"
    %li.pv2
      Watch this short
      = link_to "video", 'https://www.youtube.com/watch?v=ODAYSZXw_uE', target: '_blank', id: 'emailLink', class: "dark-red"
      of the Fellows' own thoughts and testimonials
